<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.base.IColumnCallout" name="Callout" schema="schema/eone.base.Callout.exsd"/>
   <extension-point id="org.adempiere.base.Process" name="Process" schema="schema/eone.base.Process.exsd"/>
   <extension-point id="org.adempiere.base.ModelValidator" name="Model Validator" schema="schema/eone.base.ModelValidator.exsd"/>
   <extension-point id="org.adempiere.base.IGridTabExporter" name="Grid data export extension" schema="schema/eone.base.IGridTabExporter.exsd"/>
   <extension-point id="org.adempiere.base.IGridTabImporter" name="Grid data import extension" schema="schema/eone.base.IGridTabImporter.exsd"/>
   <extension-point id="org.compiere.model.Callout" name="Callout" schema="schema/eone.model.Callout.exsd"/>
   
   <extension
         id="eone.base.ModelGeneratorApplication"
         name="Model Generator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.adempiere.base.ModelGeneratorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.adempiere.base.PostMigration"
         name="Post Migration"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.adempiere.base.PostMigrationApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.compiere.model.CalloutInfoWindow.element"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="org.compiere.model.CalloutInfoWindow"
            columnName="AD_Element_ID"
            priority="0"
            tableName="AD_InfoColumn">
      </callout>
   </extension>
   <extension
         id="org.compiere.model.CalloutInfoWindow.table"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="org.compiere.model.CalloutInfoWindow"
            columnName="AD_Table_ID"
            priority="0"
            tableName="AD_InfoWindow">
      </callout>
   </extension>
   <extension
         id="org.compiere.model.CalloutInfoWindow.reference"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="org.compiere.model.CalloutInfoWindow"
            columnName="AD_Reference_ID"
            priority="0"
            tableName="AD_InfoColumn">
      </callout>
   </extension>
   
   <extension
         id="org.adempiere.install.translation"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      	 <run
               class="org.compiere.install.Translation">
         </run>
      </application>
   </extension>
   
 
  <extension
         id="org.adempiere.impexp.GridTabXLSExporter"
         name="Grid data excel template exporter"
         point="org.adempiere.base.IGridTabExporter">
      <exporter
            class="org.adempiere.impexp.GridTabXLSExporter"
            priority="0">
      </exporter>
   </extension>
   <extension
         id="org.adempiere.impexp.GridTabXLSImporter"
         name="Grid data XLS importer"
         point="org.adempiere.base.IGridTabImporter">
      <importer
            class="org.adempiere.impexp.GridTabXLSImporter"
            priority="0">
      </importer>
   </extension>
</plugin>
