**/target/
**/lib/*.jar
**/seed/*.jar
/org.adempiere.ui.zk/labelapplet.jar
/org.adempiere.extend/test.properties
/*_bk/
/.metadata/
/PostgreSQL/
/Oracle/
/MSSQL/
/log/
/db/
/.git_bk/
/.git_bk1/
/.git_root/
/.git_v5/
/*.log
/jettyhome/
swingclient.product*.launch

/*.sql
/RemoteSystemsTempFiles/
External Plug-in Libraries
.recommenders

/runtime-server.product/

/org.idempiere.javadoc/API
